<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="col-sm-2" *ngFor="let icon of icons" style="text-align: center;">
    <div class="media" style="padding: 20px;">
      <i class="material-icons" style="font-size: 100px;">{{icon}}</i>
      <div class="media-body">
        <h5 class="mt-0" >{{icon}}</h5>
        <button class="btn btn-info" [clipboard]="icon" (clipboardCopy)="logSuccess( $event )" (clipboardError)="logError( $event )">
          Copy Icon name
        </button>
      </div>
    </div>
  </div>
</div>